<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-ingen-gbl.ZPM">
    <Module>
      <Name>dc-ingen-gbl</Name>
      <Version>2.0.5</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.inGenGBL.PKG"/>
    </Module>
  </Document>
</Export>
